*{
    margin: 0;
    padding: 0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}

/*背景图片 */
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(./000.png);
    color: aliceblue;
    position: relative;
}

/* 时钟主体的样式 */
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: red;
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    border: flex;
    align-items: center;
    justify-content: center;
}

/* 创建两个多边形美化一下主体 */
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: firebrick;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50ox;
    z-index: -1;
}


.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: steelblue;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}