*{
    margin: 0;
    padding: 0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}

/*背景图片 */
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(./000.png);
    color: transparent;
    position: relative;
}
